
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2 class="text-lg-left">Here you can:</h2>
<div class="text-lg-center">
    <ul>
        <li>Add a new page to the site, along with optional pictures and sidebar</li>
        <li>Edit your pages</li>
        <li>Create, edit, delete and reorder menu categories</li>
        <li>Create, edit, and delete menu items</li>
        <li>View a list of pending customer orders</li>
       
    </ul>
</div>
