
@{
    ViewBag.Title = "CompletedOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2>The Order has been Completed!</h2>
<br />
<h5>The customer has been notified.</h5>
